
*{
    margin: 0;
    padding: 0;
    background-image: url(images/pinkbackground.jpg);
}

.Frankies{
    color: red;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}


.icecreamlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    text-align:right;
    color:blue;
    font-weight: bolder;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 15px;
}

.container-fluid{
    text-align: center;
    columns: 1;
    column-count: 3;
    padding-top: 80px;
    font-family: Ysabeau, sans-serif;
}

.form-row{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
}

[type=text], [type=email] {
    padding: 7px;
}