
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.content{
    color: rgb(250, 6, 6);
    font-size: xx-large;
    font-weight: 400;
    font-style: inherit;
}

.container{
    width: 100%;
    height: 125dvh;
    background-image:url(icecream\ background.jpg);
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.header{
    height:15%;
    display:flex;
    align-items:center;
    overflow:hidden;
    position: relative;
}

.logo{
    width: 400px;
    height: 100px;
    cursor: pointer;
    border: 20px;
}

.navbar{
    text-align:right;
    flex: 1;
    text-shadow: 1;
    text-size-adjust: 14;
    border: 10px;
}

.navbar a{
    padding: 5px 10px;
    margin-left: 10px;
    color:black;
    font-weight: bold;
    font-size: 22px;
}

.container-fluid{
    columns: 2;
}



