
*{
    margin: 0;;
    padding:0;
    background-image: url(images/pinkbackground.jpg);
}

.Frankies{
    color: red;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}


.icecreamlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    text-align:right;
    color:black;
    font-weight: bolder;
    font-size: 14;
    margin-top: 10px;
    margin-right: 10px;
}

.container-fluid{
    text-align: center;
    columns: 1;
    column-count: 3;
    padding-top: 100px;
}

.form-row{
    text-align: center;
    font-style: italic;
    font-size: 14;
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
}

